/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
li,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
